body {
  padding-top: 130px;
}

a {
  outline: none !important;
}

.navbar {
  background-color: #1e8bc3;
}

.navbar .disabled-nav {
  opacity: 0.5;
}

.navbar .navbar-nav.nav li a {
  color: white;
  background-color: transparent;
  font-size: 20px;
}

.navbar .navbar-nav.nav li.active a, .navbar .navbar-nav.nav li:hover:not(.disabled-nav) a {
  color: black;
  background-color: #f7ca18;
}

.navbar-nav {
  margin-top: 42px;
}

.navbar-header h1 {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../img/kablammo_logo.svg');
  width: 300px;
  height: 60.92px;
}

.navbar-header span {
  display: none;
}

#results-container {
  margin-left: 1em;
  margin-right: 1em;
}

#results-container > .row {
  margin-bottom: 22px;
}

.query-header, .subject-header {
  background-color: #69b2d7;
  color: white;
  text-align: right;
  padding: 8px;
  position: relative;
}

.query-header > h2, .subject-header > h3 {
  float: left;
  background-color: #1e8bc3;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 0;
  padding: 8px 15px 8px 15px;
}

.query-header > p, .subject-header > p {
  background-color: #69b2d7;
  display: block;
}

.subject {
  padding-left: 0;
  padding-right: 0;
  text-align: top;
}

.subject svg, .subject-info {
  float: left;
}

.subject svg {
  margin-bottom: 1em;

  /* Prevent selecting axis labels and other text, which may happen
   * accidentally as user is clicking and dragging mouse to pan the SVG. */
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.subject-info ul {
  list-style: none;
  padding-left: 0;
  float: left;
}

.subject-buttons {
  margin-bottom: 1.5em;
  float: left;
  margin-left: 2em;
  margin-right: 2em;
}

.subject-info span {
  font-weight: bold;
}

#control-panels .control-panel {
  background-color: white;
  padding-top: 15px;
  padding-bottom: 30px;
  top: 92px;
  left: 0;
  z-index: 9999;
  position: fixed;
  display: none;
  border-bottom: 1px solid #999;
  height: 300px;
}

#control-panels .tab-pane {
  padding: 15px;
  border-left: 1px solid #ddd;
}

#local-file-chooser {
  display: none;
}

#max-result-controls input {
  display: inline;
  width: 5em;
}

.file-label {
  margin-top: 1em;
}

#display-results-container {
  text-align: center;
}

#curtain {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  display: none;
  text-align: center;
}

#curtain .message {
  background-color: white;
  padding: 2em;
  border-radius: 10px;
  display: inline-block;
  margin-top: 20%;
}

#errors {
  position: fixed;
  top: 50px;
  right: 50px;
  width: 300px;
  z-index: 9999;
}

#snippets {
 display: none;
}
